.navbar {
    position: sticky;
    top: 0;
    left: 0;
  }

  .nav-icon {
    font-size: 2.5rem;
    cursor: pointer;
    font-weight: 900;
    color: var(--color-background);
  }

  .nav-links {
    margin-left: 2rem;
  }